= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :initial_date
    = f.input :comment
    = f.association :event_type

  .form-actions
    = f.button :submit
